<div class="issue">
    <div class="issue-header">
        <div class="issue-header-content">
            {{this.title}}
        </div>
        <div class="issue-header-right-area">
            <span class="issue-header-badge">
                Pending
            </span>
            <span class="issue-header-buttons">
                <button class="issue-header-button"><i class="fa fa-trash"></i></button>
                <button class="issue-header-button"><i class="fa fa-edit"></i></button>
            </span>
        </div>
    </div>
    <div class="issue-content">
        Issue {{this.description}}
    </div>
</div>